* {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffc107;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content {
    flex: 1;
    margin: 0 auto;
    width: 1000px;
}

.logo{
    color: #ffc107;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0a0600;
    width:1000px;
    margin: 0 auto;
}

.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;

    display: block;
    width: auto;
    border-bottom: 0;
    color: #ffc107;
}
.expanded > .menu-item {
    display: block;
}

.menu-logo-container{
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

.currency-list{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.currency-list-head,
.currency-list-body{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 25px;
}
.currency-list-head{
    background-color: #353535;
}

.list-item{
    padding: 20px;
}
.even-row{
    background-color:#404040;
}
.even-row:hover{
    background-color:#303030;
}

.odd-row{
    background-color:#353535;
}
.odd-row:hover{
    background-color:#303030;
}
/*SINGLE_CURRENCY_START*/
.info-box{
    margin:0 auto;
    background-color:#353535;
}
.info-box-header{
        display: flex;
        flex-direction: row;
}
.box {
    flex: 1;
    border: 1px solid #ccc;
  }
/*SINGLE_CURRENCY_END*/
