<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Kantor walut</title>
</head>
<body>
    <main class="main-content" layout:fragment="content">
        <table class="currency-list">
            <thead>
            <tr class="currency-list-head">
                <th class="list-item">Waluta</th>
                <th class="list-item">Kod</th>
                <th class="list-item">Kurs średni</th>
            </tr>
            </thead>
            <tbody>
                <tr th:class="currency-list-body" th:each="currency, iterStat: ${currencies}"
                    th:classappend="${iterStat.index % 2 == 0 ? 'even-row' : 'odd-row'}">
                    <td class="list-item">
                        <a th:href="@{|/waluta/${currency.currencyCode}|}" th:text="${currency.name}">Dolar - test</a>
                    </td>
                    <td class="list-item" >
                        <a th:href="@{|/waluta/${currency.currencyCode}|}"th:text="${currency.currencyCode}">Dolar - test</a>
                    </td>
                    <td class="list-item" th:text="${currency.mid}">
                        <a th:href="@{|/waluta/${currency.currencyCode}|}"th:text="${currency.mid}">Dolar - test</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html> 